.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 3em;
  margin-right: 3em;
}

.margin-nav {
  margin-right: 2em
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f9fafc;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem !important;
  padding-left: .75rem !important;
  color: #f9fafc;
}

.bg-light {
  background-color: #ffffff !important;
}

nav {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

#examples-dropdown {
  cursor: pointer;
}

.highlighted {
  cursor: pointer;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#bluth-pic {
  width: 50%;
  height: 100%;
}

#user-photo {
  width: 350px;
  height: 300px;
}

#user-input {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auto-margins {
  margin: 1px;
}

.center-card {
  justify-content: center;
}

#reimbursetable {
  display: flex;
  width: 97%;
  margin: auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
}

.date-input {
  text-align: center;
}

.center-button {
  display: flex;
  justify-content: center;
}

#submit-button {
  width: 21.8em;
  color: #f9fafc;
  background-color: #F37022;
  border-color: #F37022;
}

#submit-buttonprop {
  color: #f9fafc;
  background-color: #F37022;
  border-color: #F37022;
}

.table-orange {
  color: #fff;
  background-color: #F37022;
}

#submit-buttongetAll {
  color: #f9fafc;
  background-color: #F37022;
  border-color: #F37022;
}

#spacing {
  margin-top: 3em;
  color: #f9fafc;
  background-color: #F37022;
  border-color: #F37022;
}

#deny {
  width: 5.4em;
  margin: 2px;
}

.editbutton {
  display: block;
  padding: .375rem .75rem;
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.bluth-orange {
  background-color: #F37022;
}

.whitetext {
  color: #f9fafc;
}

.fadingOut {
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1.5s;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  animation: fadeInLeftBig 2s forwards;
}

#Home {
  display: flex;
  justify-content: center;
}

#home-img {
  width: 40%;
  height: 50%;
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  animation: rollIn 2s;
}

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation: rollOut 2s forwards;
}

.banana {
  width: 10%;
}

.order {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
  animation: fadeInRightBig 2s forwards;
}

.prog {
  height: 60%;
  width: 50em;
  margin-bottom: 5em;
}

.button-separation {
  margin: 3px;
}